@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-custom {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ), url('/assets/media/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast; /* Melhora a nitidez */
    filter: brightness(1.1) contrast(1.1); /* Ajusta o brilho e contraste */
}